/* header h1 {
    background-color: red;
} */

article span {
    background-color: pink;
}

article>span {
    background-color: yellow;
}

article>p~span {
    background-color: red;
}

/* article>p+span {
    background-color: greenyellow;
} */

a[href="#3"] {
    color: orange;
    background-color: black;
}

/* h1,
h2,
h4 {
    padding: 10px;
    border: 5px dotted pink;
} */

.h1test1,
.h1test2 {
    padding: 10px;
    border: 5px dotted pink;
}