article::first-line {
    color: green;
}

article::first-letter {
    color: red;
    font-size: 3em;
}

article::before {
    content: "Before Article";
}

article::after {
    content: "After Article";
}